@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 5% 15%;
    box-sizing: border-box;
}

h1{
    letter-spacing: 8px;
    font-size: 5rem;
    font-weight: 400;
}

#hobbiesContainer{
    background-color: rgb(241, 220, 220);
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 200;
    color: #606060;
}

#hobbiesList{
    display: inline-block;
    white-space: nowrap;
    animation: moveHobbies 10s linear infinite;
}

@keyframes moveHobbies{
    100%{transform: translate(100%);}
    100% {transform: translateX(100%);}
}

p{
    padding: 25px 0px;
    font-weight: 300;
    color: #4d4d4d;
    font-size: 17px;
}

.challenges{
    font-weight: 300;
    font-size: 1.4rem;
}

.challenges-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 2%;
    text-transform: uppercase;
}

.challenges-list li {
    border: 0.2px solid rgb(232, 232, 232);
    padding : 3rem 4rem;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(255, 255, 255);
    background-color: #f9f7f7;
}

#tech{
    display: flex;
}

#tecnologies{
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 2px;
}

#hobbiesList{
    display: inline-block;
    white-space: nowrap;
    animation: moveHobbies 20s linear infinite;
}

@keyframes moveHobbies{
    100%{transform: translate(100%);}
    100% {transform: translateX(100%);}
}

@media only screen and (max-width:768px){
    h1{
        letter-spacing: 3px;
        font-size: 3.5rem;
        font-weight: 400;
    }
    
    #hobbiesContainer{
        padding: 1.5rem;
        font-size: 1.4rem;
    }

    p{
        padding: 20px 0px;
        font-size: 15px;
    }
    
    .challenges{
        font-size: 1.2rem;
    }

    .challenges-list{
        display: block;
    }
    
    .challenges-list li {
        padding : 3rem;
        margin: 4%;
    }

    #tecnologies{
        font-size: 2rem;
        font-weight: 700;
        padding: 4px;
    }
}